.title-slide {
  background-image: url("img/logo.png");
  background-position: 9% 15%;
  background-size: 255px;
  background-color: #fff;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

